extends layouts/layout
block title
  meta( charset="UTF-8")
  title TION
block content
  .grid
    .grid__wrapper
      input(type='checkbox' checked='')
      .grid__panel.grid__panel--left
      .grid__content
      .grid__panel.grid__panel--right
