@charset 'utf-8'
// *** Vendor ***
@import '~css-reset-and-normalize/scss/reset-and-normalize'
// *** Settings ***
@import './base/colors'
// *** Utils ***
$dot-size: 1px
$dot-space: 10vmax
@mixin dot-pattern ($bg-color, $dot-color, $dot-size, $dot-space)
  background-color: $bg-color
  background-image: radial-gradient($dot-color $dot-size, transparent $dot-size)
  background-size: $dot-space $dot-space
  background-position: 0 0, 50px 50px

// *** Base ***
// *** Components ***


body
  @include dot-pattern($dark-gray, $dot, $dot-size, $dot-space)

.grid
  height: 100vh
  overflow-x: hidden
  position: relative
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  scroll-snap-type: y mandatory
  overflow-y: scroll
  &__wrapper
    width: 100%
    height: 100%
    .svg__enter
      position: absolute
      width: 60vmin
      height: 100vh
      top: 0
      left: 0
      bottom: 0
      right: 0
      margin: auto
      z-index: 4
      transition: opacity 1000ms ease-in-out
    .svg__enter--clicked
      opacity: 0
    #EnterImg:hover
      animation-name: floating
      animation-duration: 2s
      animation-iteration-count: infinite
      animation-timing-function: ease-in-out
      transform: scaleY(2)
    #central:hover
      cursor: pointer
      #text-group > *, #dot-group > *
        fill: orange
        stroke: orange
  &__panel
    display: block
    transition: all 1s ease-out
    width: 50%
    height: 100%
    float: left
    &--left
      background-color: $panel-light
      transform: translateX(0%)
      border-right: 2px solid $panel-light
    &--right
      background-color: $panel-dark
      transform: translateX(0%)
      border-left: 2px solid $panel-dark
    &--leftClicked
      background-color: $panel-light
      border-right: 2px solid orange
      transform: translateX(-100%)
    &--rightClicked
      background-color: $panel-dark
      border-left: 2px solid orange
      transform: translateX(100%)
  &__underneath
    width: 100%
    height: 100%
    position: absolute
    display: none
    align-items: center
    flex-direction: column
    justify-content: space-between
    z-index: -1

.page
  margin-bottom: 10vh
  margin-bottom: calc(var(--vh, 1vh) * 10)
  width: 80%
  min-height: 100vh
  max-height: 100vh
  display: inline-flex
  align-items: center
  flex-direction: column
  scroll-snap-align: center
  &__header
    min-height: 15vh
    // border: 1px dashed white
    // background-color: red
    max-height: 15vh
    width: 100%
    display: flex
    justify-content: space-around
    &--no-min
      min-height: 0
  &__middle
    min-height: 70vh
    height: 85vh
    max-height: 85vh
    // border: 1px dashed green
    // background-color: white
    width: 100%
  &__footer
    // position: fixed
    min-height: 15vh
    max-height: 15vh
    bottom: 0
    // border: 1px dashed white
    // background-color: green
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .footer__button
      display: flex
      flex-wrap: wrap
      justify-content: center
      width: 34vw
      & img
        height: 4.75vh
        margin-left: 0.4em
        margin-right: 0.4em
        margin-top: 0.4em
    .footer__icon
      width: 30vh
      display: flex
      flex-wrap: wrap
      justify-content: center
      & img
        height: 4.75vh
        margin-left: 0.3em
        margin-right: 0.3em
        margin-top: 0.4em
.linesBG
  width: 80vw
  transition: transform 0.5s
  -webkit-transition: transform 0.5s
  -moz-transition: transform 0.5s
  -o-transition: transform 0.5s

.btn__services
  top: 0
  bottom: 0
  margin: auto
  height: 14vmin

#logo__tion
  position: fixed
  top: 2vmax
  left: 2vmax
  width: 14vmin
  height: 14vmin

#btn__chat
  position: fixed
  bottom: 4vmax
  right: 3vmax
  width: 11vmin
  height: 11vmin

#tp__canvas
  width: 100%
  height: 70vh

@keyframes floating
  from
     transform: translate(0, 0px)
  50%
     transform: translate(0, -10px)
  to
     transform: translate(0, -0px)

@media screen and (max-height: 1024px) and (max-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5)
  .grid
    height: 100vh
    height: calc(var(--vh, 1vh) * 100)
  .page
    margin-top: 5vh
    margin-bottom: 5vh
    min-height: 90vh
    // border: 1px solid orange
    &__header
      min-height: 15vh
      // background-color: red
      &--no-min
        min-height: 0
    &__middle
      min-height: 60vh
    &__footer
      min-height: 15vh
      // background-color: green
      .footer__button
        // background-color: green
        display: flex
        flex-wrap: wrap
        // justify-content: space-evenly
        width: 46vw
        & img
          height: 4.75vh
      .footer__icon
        width: 30vh
        display: flex
        flex-wrap: wrap
        // justify-content: space-evenly
        & img
          height: 4.75vh
  #tp__canvas
    height: 60vh
    max-height: 60vh
    // border: 1px solid red


@media (max-width: 1024px) and (orientation: portrait)
  .grid
    height: 100vh
    height: calc(var(--vh, 1vh) * 100)
  .page
    margin-top: 5vh
    margin-bottom: 5vh
    min-height: 90vh
    // border: 1px solid orange
    &__header
      min-height: 10vh
      // background-color: red
      &--no-min
        min-height: 0
    &__middle
      min-height: 50vh
      height: 90vh
    &__footer
      min-height: 30vh
      // background-color: green
      .footer__button
        & img
          margin-bottom: 0.4em
      .footer_icon
        & img
          margin-bottom: 0.4em
  #tp__canvas
    height: 50vh
    max-height: 90vh
    // border: 1px solid red
